.footerOff {
         display: flex;
         align-items: center; /* Centrez verticalement */
       }
       
       footer {
         position: fixed;
         bottom: 0;
         z-index: 100;
         text-align: center;
         padding: 10px 0;
         background-color: #141313;
         color: #fff;
         width: 100%;
         display: flex;
         justify-content: end; /* Positionner horizontalement */
         align-items: center; /* Centrez verticalement */
         height: 5vh;
       }
       
       .input-group {
         margin-right: 2.5vh;
         margin-bottom: -5vh;
         max-width: 20vw;
         justify-content: end; /* Centrez horizontalement */
         align-items: baseline;
       }
       
       .logoCompta {
         display: flex;
         z-index: 1;
         justify-content: start; /* Centrez horizontalement */
         height: 5vh;
         top: 0%;
         left: 0%;
       }
       