<footer>
         <div class="logoPlanning">
           <a href="/HomeAdmin">
             <img src="assets/images/logoCompta.png" style="height: 5vh;">
           </a>
         </div>
         <div class="footerOff">
           <a href="HomeAdmin">
             <img src="assets/images/dvd.png" alt="Liste-Dvd" style="width: 30px; margin-right: 20px">
           </a>
           <a href="/person/all">
             <img src="assets/images/client.png" alt="Liste-personne" style="width: 30px; margin-right: 20px">
           </a>
           <a href="/project/all">
             <img src="assets/images/registre.png" alt="Liste-projet" style="width: 15px; margin-right: 20px">
           </a>
           <div class="input-group rounded mb-1">
             <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchText" />
             <button class="btn rounded" (click)="handleButtonSearchClick()">Search</button>
           </div>
         </div>
       </footer>
       